<h1>New Article</h1>
<%= form_with(model: @article, url: articles_path) do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <%= @article.errors[:title][0]%>
  
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

   <div>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>


  <br/><br/>
    <%= @article.errors.full_messages_for(:body)[0]%>
  <div>
    <%= form.submit "Create Article" %>
  </div>
<% end %>