    <img src="<%= asset_url(@article.image) %>" alt="Article Image" class="imgthumbnail"/>
    <br/>
    <strong>Title</strong> : <%= @article.title %>
    <br/>
    <strong>Description</strong> : <%= @article.body%>
    <br/>


    <br/>

    Existing Comments : 
    <%= render @article.comments%>

    <strong>Add a comment:</strong> 
    <%= form_with(model: [@article, Comment.new(user: current_user)],url: article_comments_path(@article)) do |form| %>
    <p>
        <%= form.label 'Comment' %><br>
        <%= form.text_area :body %>
    </p>
    <p>
        <%= form.submit 'Add Comment'%>
    </p>
    <% end %>