     <%= image_tag @article.image, alt: 'Article Image', class: 'imgthumbnail' if @article.image.attached? %>
    <br/>
    <strong>Title</strong> : <%= @article.title %>
    <br/>
    <strong>Description</strong> : <%= @article.body%>
    <br/>


    <br/>

    Existing Comments : 
    <%= render @article.comments%>

    <%= form_with(model: [@article, Comment.new(user: current_user)],url: article_comments_path(@article)) do |form| %>
    <p>
        <%= form.label 'Comment' %><br>
        <%= form.text_area :body %>
    </p>
    <p>
        <%= form.submit 'Add Comment'%>
    </p>
    <% end %>